<div class="comment">
  <div class="d-flex space-between">
    <div class="comment__author">Adam</div>
    <span class="comment__date">03.10.2024</span>
  </div>
  <p class="comment__content">lorem ipsum dolor sit amet</p>
  <div class="comment__actions">
    <div>
      <span class="comment__actions--action comment__actions--voteup"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em"><path fill="currentColor" fill-rule="evenodd" d="M2.001 6.5h1.414l1.27 1.271 7.316 7.315 7.315-7.315L20.587 6.5h1.414v1.414l-1.27 1.27-7.316 7.316-1 1h-.827l-3.942-3.942-4.374-4.374-1.27-1.27z"></path></svg>1</span>
      <span class="comment__actions--action comment__actions--votedown"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em" height="1em"><path fill="currentColor" fill-rule="evenodd" d="M2.001 6.5h1.414l1.27 1.271 7.316 7.315 7.315-7.315L20.587 6.5h1.414v1.414l-1.27 1.27-7.316 7.316-1 1h-.827l-3.942-3.942-4.374-4.374-1.27-1.27z"></path></svg></span>
    </div>
    <button class="comment__actions--report">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none" viewBox="0 0 24 24">
        <path fill="currentColor" fill-rule="evenodd"
          d="M18.359 13H5V4h13.359L15.59 8.5l2.769 4.5Zm1.79-11H3v19l1 1 1-1v-6h15.149L21 13.477 17.938 8.5 21 3.524 20.149 2Z"
          clip-rule="evenodd"></path>
      </svg>
    </button>
  </div>
</div>